.navigation {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $c-white;

  &__inner {
    @include container-medium;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav ul {
    @include reset-list;

    display: flex;

    li:not(:last-child) {
      margin-right: 2rem;
    }
  }

  a {
    text-decoration: none;
    font-weight: $f-weight-bold;

    &:hover,
    &.is-active {
      @include text-gradient;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
