@mixin font($family, $weight: normal, $size: inherit, $lineHeight: 1) {
  font-weight: $weight;
  font-size: $size;
  font-family: $family;
  line-height: $lineHeight;
}

@mixin h1 {
  @include font($f-family, $f-weight-bold, 60px, 65px);

  @include mq(large) {
    font-size: 35px;
    line-height: 45px;
  }

  @include mq(small) {
    font-size: 25px;
    line-height: 30px;
  }
}

@mixin h2 {
  @include font($f-family, $f-weight-bold, 50px, 60px);

  @include mq(large) {
    font-size: 32px;
    line-height: 42px;
  }

  @include mq(small) {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: inherit;
  }
}

@mixin h3 {
  @include font($f-family, $f-weight-bold, 40px, 45px);

  @include mq(large) {
    font-size: 30px;
    line-height: 35px;
  }

  @include mq(small) {
    font-size: 24px;
    line-height: 25px;
  }
}
