$f-size: 18px;
$f-size-mobile: 16px;

$f-family-roboto: 'Roboto';
$f-family: 'Roboto', 'Oxygen', 'Ubuntu',
'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$f-weight-light: 300;
$f-weight-regular: 400;
$f-weight-medium: 500;
$f-weight-bold: 700;
